
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="Ie=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="format-detection" content="telephone=no, address=no">
	<title>采购与招标网信息发布</title>
	<link rel="stylesheet" type="text/css" href="/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/css/ann.css">
	<script type="text/javascript" src="/third/jquery.min.js"></script>
	<script type="text/javascript" src="/third/flexible_css.js"></script>
</head>
<body>
	<div class="Ann">
		<div class="article">
			<p class="title">方法一：</p>
			<article class="article-item">
				<p>微信发布:</p>
				<p>1、请将要发布的信息内容，以附件doc文档的格式</p>
				<p>2、直接发动到微信公众号的绘画窗口</p>
				<p>3、<span class="abiaoqian">"查看详细教程"</span></p>
				<p>4、下载<span class="abiaoqian">"参考模板"</span></p>
				<img class="img0" src="/img/u314.png">
				<img class="img1" src="/img/u320p000.png">
				<div class="img2">
					<img src="/img/u309.png">
				</div>
			</article>
		</div>
		<div class="article">
			<p class="title">方法二：</p>
			<article class="article-item">
				<p>邮件发布:</p>
				<p>1、未确认您的账户信息，发送前请您<span class="abiaoqian">"绑定邮箱"</span></p>
				<p>2、请将要发布的信息内容，以附件doc文档的行事</p>
				<p>3、发送至bid@chinabidding.cn</p>
				<p>4、<input class="" type="button" value="发送参考模板">至<span class="abiaoqian">"我的邮箱"</span>
				<span class="abiaoqian">文档格式注意事项</span></p>
			</article>
		</div>
		<div class="article">
			<p class="title">方法三：</p>
			<article class="article-item">
				<p>表单发布:</p>
				<p>1、登陆 hettps://www.chinabiding.cn</p>
				<p>2、网上提交信息</p>
			</article>
		</div>
	</div>
	
</body>
</html>