<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="Ie=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="format-detection" content="telephone=no, address=no">
    <script src="//cdn.bootcss.com/react/15.3.1/react.min.js"></script>
    <script src="//cdn.bootcss.com/react/15.3.1/react-dom.min.js"></script>
    <script src="//cdn.bootcss.com/redux/3.6.0/redux.min.js"></script>
    <script src="//cdn.bootcss.com/react-redux/5.0.0-beta.1/react-redux.min.js"></script>
    <title>微信绑定</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/iconfont.css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/fetch.js"></script>
    <script type="text/javascript" src="/js/flexible_css.js"></script>
</head>
<body>
<div id="binding"></div>
</body>
<script type="text/javascript" src="/js/binding.js"></script>
</html>