<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="Ie=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no, address=no">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <title>测试</title>
</head>
<body>
<div class="glyphicon glyphicon-chevron-up"></div>
<div id="index"></div>
</body>
<script type="text/javascript">
$(function(){
    $('.glyphicon').on('click',function(){
        if($(this).hasClass('glyphicon-chevron-up')){
            $(this).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down')
        }
        else{
            $(this).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up')
        }
    })
})
</script>
</html>