<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="Ie=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no, address=no">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<title>信息发布</title>
</head>
<body>
	<section>IOS客户端 发布信息操作手册</section>
	<section>
		<h1>第一步</h1>
		<p class="explain">点击需要发布的文件，进入文件详情页</p>
		<img src="../img/ios1.jpg"/>
	</section>
	<section>
		<h1>第二步</h1>
		<p class="explain">选择文件详情右上角"..."按钮</p>
		<img src="../img/ios2.jpg"/>
	</section>
	<section>
		<h1>第三步</h1>
		<p class="explain">选择后底部出现选择框，选择图中的"用其他应用打开"</p>
		<img src="../img/ios3.jpg"/>
	</section>
	<section>
		<h1>第四步</h1>
		<p class="explain">出现手机上已安装的其他第三方邮件软件，选择"用QQ邮箱导入"</p>
		<img src="../img/ios4.jpg"/>
	</section>
	<section>
		<h1>第五步</h1>
		<p class="explain">跳转至第三方软件页面，选择"写新邮件"</p>
		<img src="../img/ios5.jpg"/>
	</section>
	<section>
		<h1>最后</h1>
		<p class="explain">此时文件已作为邮件上传完毕，填写收件人等信息即可完成发布</p>
		<img src="../img/ios6.jpg"/>
	</section>
	<section>
		<h1>注意</h1>
		<p class="tip">您发送邮件的邮箱账号必须和绑定的邮箱账号一致，否则我们将无法收到！</p>
	</section>
</body>
</html>