body,html {
	-webkit-tap-highlight-color: transparent;
}
.Ann {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #efefef;
	overflow-y: auto;
}
.article{
	padding: 0.5333333333rem 0.2666666667rem;
	margin: 0.2666666667rem 0.2666666667rem 0 0.2666666667rem;
	background-color: #fff;
	box-shadow:0 0 0 1px #000;
}
.article .article-item {
	position: relative;
	margin-left: 1.0666666667rem;
	margin-right: 0.5333333333rem;
	line-height: 1.5;
}
.article .article-item .img0 {
	width: 3.8933333333rem;
	margin-top: 0.1333333333rem;
}
.article .article-item .img1 {
	margin-bottom: 0.5333333333rem;
}
.article .article-item .img2 {
	width: 2.5rem;
	position: absolute;
	bottom: 0;
	right: 0;
}
.article .article-item .img2>img {
	width: 100%;
}
.article .article-item .img2:after {
	content: "";
	position: absolute;
	right: 0.2rem;
	top: 0.8rem;
	width: 0.4rem;
	height: 0.6rem;
	border-radius: 100%;
	box-shadow:0 0 0 0.0533333333rem red;
}
.abiaoqian {
	color: blue;
	text-decoration: underline;
}

.Anns h1 {
	font-size: 0.4266666667rem;
	padding: 0.4rem;
	position: relative;
	border-top: 8px solid #e6e6e6;
}
.Anns h1:first-of-type {
	border-top: none;
}
.Anns h1:before {
	content: "";
	position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #999;
    color: #999;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 0;
}
.anns-article {
	color: #444;
	font-size: 0.4rem;
	padding: .4rem;
}
.anns-article p {
	line-height: 1.25;
	margin-bottom: .6rem;
}
.ann--a {
	color: #ffc600;
}
.btn-yl {
	display: inline-block;
	background-color: #ffc600;
	padding: .1rem .2rem;
	border-radius: 10rem;
	color: #000;
}
.ann--a a,a:hover, a:visited, a:link, a:active{
	text-decoration: none!important;
	color: #ffc600;
}
