.module-companyinfo{
  html,body {
    height: 100%;
  }
  .status {
    border: solid 1px #999;
    appearance:none;
    -webkit-appearance:none;
    width: 7.3333333333rem;
    height: 0.6666666667rem;
    line-height: 0.6666666667rem;
    padding: 0 0.2666666667rem;
    position: relative;
    color: #999;
    margin-left: .1rem;
    font-size: 0.3733333333rem;
    background: url(/img/arrow.jpg)no-repeat scroll 96% center transparent;
    background-size: 0.32rem 0.1733333333rem;
  }
  .status option {
    font-size: 0.3466666667rem;
  }
  .Company {
    display: block;
    background-color: #efefef;
    height: 100%;
  }
  .Company .list {
    width: 100%;
    padding: 0.4rem 0.5333333333rem;
    background-color: #fff;
    margin-bottom: 0.2666666667rem;
    position: relative;
  }
  .Company .list span {
    font-size: 0.3466666667rem;
  }
  .un-id{
    color: #ff0000;
    float: left;
    margin-left: .1rem;
  }
  .Company .list .btn-small {
    background-color: #ffc600;
    color: #333;
    width: 1.3333333333rem;
    height: 0.5333333333rem;
    line-height: 0.5333333333rem;
    font-size: 0.2933333333rem;
    float: right;
  }
  .Company .list.xinyong {
    line-height: normal;
    padding-top: 0.2933333333rem;
  }
  .Company .list span.ph {
    float: left;
    font-size: 0.2933333333rem;
    color: #999;
    margin-top: .05rem;
    max-width: 80%;
  }

  .switchbox {
    position: relative;
    width: 1.2rem;
    height: 0.6533333333rem;
    border: 1px solid #DFDFDF;
    outline: 0;
    border-radius: 0.4266666667rem;
    box-sizing: border-box;
    background-color: #DFDFDF;
    -webkit-transition: background-color 0.1s, border 0.1s;
    transition: background-color 0.1s, border 0.1s;
    -webkit-appearance: none;
    appearance: none;
  }
  .switch-cp__input {
    position: absolute;
    right: 0.5333333333rem;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .switchbox:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.5rem;
    height: 0.6rem;
    border-radius: 0.4rem;
    background-color: #FDFDFD;
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
    transition: -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
    transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
    transition: transform 0.35s cubic-bezier(0.45, 1, 0.4, 1), -webkit-transform 0.35s cubic-bezier(0.45, 1, 0.4, 1);
  }
  .switchbox:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.6rem;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
    transition: -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
    transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
    transition: transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35), -webkit-transform 0.35s cubic-bezier(0.4, 0.4, 0.25, 1.35);
  }
  .switchbox:checked {
    border-color: #ffc600;
    background-color: #ffc600;
  }
  .switchbox:checked:after {
    -webkit-transform: translateX(0.5333333333rem);
    transform: translateX(0.5333333333rem);
  }
  .switchbox:checked:before{
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  .weui-switch-cp__input:checked ~ .switchbox {
    border-color: #ffc600;
    background-color: #ffc600;
  }
  .in-load .item::after {
    content: " (已上传)";
    color: #ff0000;
  }
  .in-load .btn::after {
    content: "重新上传";
  }
  .un-load .item::after {
    content: " (未上传)";
    color: #ff0000;
  }
  .un-load .btn::after {
    content: "上传"
  }
  .file-upload {
    display: inline-block;
    width: 4.0rem;
    height: 0.6666666667rem;
    line-height: 0.6666666667rem;
    border-radius: 0.0666666667rem;
    border:1px solid #999;
    overflow: hidden;
    padding-left: 0.2666666667rem;
    margin: 0.3333333333rem auto auto 0.2666666667rem;
    color: #999;
    font-size: 0.3733333333rem;
  }

  .fl {
    float: left;
  }
  .oh {
    display: inline-block;
    padding-left: .2rem;
    max-width: 4。2rem;
    text-overflow : ellipsis;
    white-space : nowrap;
    overflow : hidden;
    float: left;
  }
  .btn-upload {
    position: relative;
  }
  .btn-upload input{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4666666667rem;
    height: 0.5333333333rem;
  }
}