.module-register{
  .Register {
    display: block;
    background-color: #fff;
    padding: 0 0.8rem;
  }
  .logo {
    height: 3.0rem;
    width: 100%;
    background: url(/img/logo.jpg) center no-repeat;
    background-size: 4.2666666667rem 1.0666666667rem;
  }
  .input-under-line {
    border: none;
    width: 100%;
    border-bottom: 1px solid #d9d9d9;
    padding: .55rem 0 .4rem 0.67rem;
  }
  .ph {
    color: #999;
    padding-left: 0.6666666667rem;
    height: 1.4666666667rem;
    line-height: 1.4666666667rem;
  }

  .btn-wx {
    width: 100%;
    height: 1.3333333333rem;
    line-height: 1.3333333333rem;
    background-color: #ffc600;
    color: #333;
    font-size: 0.48rem;
    margin-bottom: 0.6666666667rem;
  }
  .Binding .btn-wx {
    margin-top: 1.3333333333rem;
  }
  .btn-sub,.btn-fp {
    color: #3359ff;
  }
  .btn-fp {
    float: right;
  }
  .icon-c {
    position: relative;
  }
  .icon-c .iconfont {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0.56rem;
    padding-top: 0.4rem;
    color: #999;
  }
}