.module-mine{
  .Mine {
    display: block;
    background-color: #fff;
  }
  .header {
    position: relative;
    padding: 0.5333333333rem;
  }
  .photo-frame {
    width: 2.0rem;
    height: 2rem;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid #ffc600;
    float: left;
  }
  .user-info {
    padding: .3rem;
    display: inline-block;
  }
  .btn-small {
    background-color: #ffc600;
    color: #333;
    width: 1.8666666667rem;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.3733333333rem;
    position: absolute;
    right: 0.5333333333rem;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .user-info .user-name {
    font-size: 0.4266666667rem;
    padding: 0.2rem 0;
  }
  .user-info .account-integral {
    color: #999;
    font-size: 0.32rem;
  }
  .user-info .y {
    color: #ffc600;
  }
  .company-info {
    display: block;
    background-color: #efefef;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 1.3333333333rem;
    line-height: 1.3333333333rem;
    padding-left: 0.5333333333rem;
    position: relative;
  }
  .company-info .arrow {
    position: absolute;
    right: 0.5333333333rem;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .release-table {
    border-collapse: collapse;
    margin: 0.5333333333rem auto;
  }
  .release-table th,td {
    width: 3.0rem;
    height: 0.9333333333rem;
    text-align: center;
    border:1px solid #d9d9d9;
  }
  .release-table th {
    background-color: #efefef;
  }
  .push-ul {
    padding: 0.5333333333rem;
  }
  .push-ul-title {
    background-color: #efefef;
    height: 0.9333333333rem;
    line-height: 0.9333333333rem;
    padding-left: 0.2666666667rem;
    border: 1px solid #d9d9d9;
    position: relative;
  }
  .push-ul-title .arrow {
    position: absolute;
    right: 0.2666666667rem;
    top: -.1rem;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .push-ul-title.curr .arrow {
    top: .1rem;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  .push-ul li {
    height: 0.9333333333rem;
    line-height: 0.9333333333rem;
    padding-left: 0.2666666667rem;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    color: #999;
  }
}